body {
  background-color: blueviolet;
}

main {
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.date {
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

.maindate {
  display: flex;
  gap: 10px;
}

.reset {
  border: 1px solid red;
  border-radius: 20%;
}

.content {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  flex-direction: column;
  align-items: start;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listUnit {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding: 8px;
}

.addbtn {
  border: 1px solid red;
  border-radius: 50%;
  padding: 20px;
  align-self: center;
}
